In [1]:
import csv

In [2]:
header=['sid','sname','city','contact']

In [3]:
records=[[1,'kailash','valod',9316203288],
         [2,'sunil','asta',9463745678],
         [3,'prem','vyara',9867456374],
         [4,'dev','vyara',9567456784],
         [5,'om','surat',9126364758]]
k=[]

In [4]:
for i in range(5):
    sid=int(input("Enter student id:"))
    sname=(input("Enter student name:"))
    city=(input("Enter student city:"))
    contact=int(input("Enter student contact number:"))
    r=[sid,sname,city,contact]
    k.append(r)

Enter student id:6
Enter student name:pratham
Enter student city:mandvi
Enter student contact number:9056748956
Enter student id:7
Enter student name:vivek
Enter student city:mandvi
Enter student contact number:7867856846
Enter student id:8
Enter student name:kenil
Enter student city:mahuva
Enter student contact number:8956467890
Enter student id:9
Enter student name:pritesh
Enter student city:valod
Enter student contact number:8967586789
Enter student id:10
Enter student name:ankit
Enter student city:valod
Enter student contact number:8967845678

In [5]:
with open('student.csv','w',newline='') as f:
    myfile=csv.writer(f)
    myfile.writerow(header)
    myfile.writerows(records)
    myfile.writerows(k)

In [6]:
with open('student.csv','r') as r:
    allrecord=csv.reader(r)
    for s in allrecord:
        print(s)

['sid', 'sname', 'city', 'contact']
['1', 'kailash', 'valod', '9316203288']
['2', 'sunil', 'asta', '9463745678']
['3', 'prem', 'vyara', '9867456374']
['4', 'dev', 'vyara', '9567456784']
['5', 'om', 'surat', '9126364758']
['6', 'pratham', 'mandvi', '9056748956']
['7', 'vivek', 'mandvi', '7867856846']
['8', 'kenil', 'mahuva', '8956467890']
['9', 'pritesh', 'valod', '8967586789']
['10', 'ankit', 'valod', '8967845678']